h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}
body {
    margin: 2em;
}

.frameworks-grid th {
    text-align: center;
}

.frameworks-grid th,.frameworks-grid td {
    white-space: nowrap;
}

    /*.frameworks-grid .form-control {*/
    /*padding: 0 3px;*/
/*}*/

.frameworks-grid select {
    padding: 0 0px 0 3px;
    min-width: 45px;
}

.frameworks-grid .fa {
    cursor: pointer;
}

/*
 * See https://github.com/angular/angular.io/blob/master/public/docs/_examples/styles.css
 * for the full set of master styles used by the documentation samples
 */